extends layout
block head-content
    meta(name='viewport', content='width=device-width,\
    minimum-scale=1.0,maximum-scale=1.0,user-scalable=no')
    <link rel="stylesheet" href="stylesheets/tab.css">
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='stylesheets/style_cart.css')
    script(src='javascripts/js_cart.js')
    style.
      /* Make the image fully responsive */
      .carousel-inner img {
      width: 100%;
      height: 100%;
      }
block content
    #box.container
      .row.clearfix
        .col-md-12.column
          #demo.carousel.slide(data-ride='carousel')
            // 指示符
            ul.carousel-indicators
              li.active(data-target='#demo', data-slide-to='0')
              li(data-target='#demo', data-slide-to='1')
              li(data-target='#demo', data-slide-to='2')
            // 轮播图片
            .carousel-inner
              .carousel-item.active
                img(src='images/01.png')
                .carousel-caption
                  h3 风土乡情
                  p Cras justo odio.
              .carousel-item
                img(src='images/02.png')
                .carousel-caption
                  h3 异域美食
                  p Cras justo odio.
              .carousel-item
                img(src='images/03.png')
                .carousel-caption
                  h3 风味小吃
                  p Cras justo odio.
            // 左右切换按钮
            a.carousel-control-prev(href='#demo', data-slide='prev')
              span.carousel-control-prev-icon
            a.carousel-control-next(href='#demo', data-slide='next')
              span.carousel-control-next-icon
          .alert.alert-info(role='alert')
            strong Welcome !
            |  皮皮怪餐馆欢迎您的光临！！
          .row.clearfix
            .col-md-3.column
              // Nav tabs
              ul.nav.nav-pills.nav-stacked(role='tablist')
                li.nav-item
                  a.nav-link.active(href='#snack', role='tab', data-toggle='tab') 经典小吃
                li.nav-item
                  a.nav-link(href='#drink', role='tab', data-toggle='tab') 饮尿
                li.nav-item
                  a.nav-link(href='#rice', role='tab', data-toggle='tab') 主食
                li.nav-item
                  a.nav-link(href='#noodle', role='tab', data-toggle='tab') 面食
            .col-md-9.column
              // Tab panes
              .tab-content
                #snack.tab-pane.active(role='tabpanel')
                  ul#list.list-group
                    li.list-group-item
                      .row
                        .col-md-6
                          a(href='detail.html')
                            img.img-responsive(src='images/01.png').card-img-top
                        .col-md-6
                          .shop-list-mid
                            .tit
                              | 黄金卷膜
                            .am-gallery-desc ￥60
                          ul.btn-numbox
                            li
                              ul.count
                                li
                                  span#num-jian
                                    a.decrease-button(href='#0', class='num=jian', data-price='52', data-proid='2', data-proname='黄金馒头', data-proimg='images/m1.png') +
                                li
                                  input#input-num.input-num(type='text', value='0')
                                li
                                  span#num-jia
                                    a.add-button(href='#0', class='num=jia', data-price='52', data-proid='2', data-proname='黄金馒头', data-proimg='images/m1.png') +
                            li
                              span.kucun （库存:54）
                #drink.tab-pane(role='tabpanel')
                  p 饮尿是为很多人知道的一种不健康饮品，一般只有在沙漠里面才会尝试到，在这里也可以尝试，只需一分钟36度新鲜感受。
                #rice.tab-pane(role='tabpanel')
                  p 米饭颗粒饱满，能满足大部分的能量需求，怕吃不饱的就点我。
                #noodle.tab-pane(role='tabpanel')
                  p 面食是北方人多爱吃的一种食物，丰富多样色彩鲜艳，口味丰富，是爽口的不二选择。
      .cd-cart-container.empty
        a.cd-cart-trigger(href='#0')
          | 购物车
          ul.count
            // cart items count
            li 0
            li 0
          // .count
        .cd-cart
          .wrapper
            header
              h2 购物车
              span.undo
                | 已删除 
                a(href='#0') 恢复
            .body
              ul
                // products added to the cart will be inserted here using JavaScript
            footer
              a#handin.btn.checkout(href='#{username}/handin/?id=#{id}&order=detail')
                em
                  | 结算 - ￥
                  span 0
        // .cd-cart
        script.
          var num_jia = document.getElementById("num-jia");
          var num_jian = document.getElementById("num-jian");
          var input_num = document.getElementById("input-num");
          num_jia.onclick = function() {
          input_num.value = parseInt(input_num.value) + 1;
          }
          num_jian.onclick = function() {
          if (input_num.value <= 0) {
          input_num.value = 0;
          } else {
          input_num.value = parseInt(input_num.value) - 1;
          }
          }

