extends layout
append head-content
  link(rel='stylesheet', href='/stylesheets/businessPage.css')
  script(src='/javascripts/employee-chef.js')
block content
  .card
    .card-block
      h4(name='paidOrder') 已支付订单
      table(name='paidOrder').table.table-hover
        thead
          tr
            th 订单号
            th 桌号
            th 菜单
            th 操作
        tbody
          each item in paidOrder
            tr.alert
              td(name='orderNumber')
                span #{item.orderNumber}
              td(name='tabelNumber')
                span #{item.tabelNumber}
              td(name='name')
                span #{item.name}
              td.btn-td
                .btn-circle.btn-circle-td
                  .btn-line
                  a(href='#').completed
                    .btn-square
                    img(src='/images/correct2.png')
