extends layout
block head-content
  link(rel='stylesheet', href='/stylesheets/businessLogin.css')
  script(src='/javascripts/checkForm.js')
  script(src='/javascripts/login.js')

block content
  //轮播框-背景
  div(data-ride='carousel')#carousel.carousel.slide
    ol.carousel-indicators
      li(data-target='#carousel', data-slide-to='0').active
      li(data-target='#carousel', data-slide-to='1')
      li(data-target='#carousel', data-slide-to='2')
    div(role='listbox').carousel-inner
      .carousel-item.active
        img(src='/images/test1.jpg').card-img-top
      .carousel-item
        img(src='/images/test2.jpeg').card-img-top
      .carousel-item
        img(src='/images/test3.jpg').card-img-top
      .container.card-img-overlay.login-box.jumbotron
        h1= title
        p 今天您皮了吗？
        //模态框实现登录、注册
        button(type='button', data-toggle='modal', data-target='#managerLogin').btn.btn-primary 皮一下
        p 还没有皮皮怪？ 
          a(data-toggle='modal', data-target='#regist').btn.btn-secondary.super-link 点击炼制！
        //店主登录框
        .modal.fade#managerLogin
          .modal-dialog
            form(name='managerLogin').modal-content
              .modal-header.form-header
                button(type='button', data-dismiss='modal').close &times;
              .modal-body.form-body
                .form-group.row
                  label(for='username').col-sm-3.form-control-label 用户名
                  input(type='text', name='username').form-control#mUsername.col-sm-8
                  img
                .form-group.row
                  label(for='password').col-sm-3.form-control-label 密码
                  input(type='password', name='password').form-control#mPassword.col-sm-8
                  img
              .modal-footer.form-footer
                .form-group.row.mx-auto
                  //小bug：点击后按钮变大
                  input(type='submit', value='登录', name='managerLogin').btn.btn-secondary.col-sm-12
                  .form-result
                  a(href='#' name='employeeLogin') 员工登录
        //店员登录框
        .modal.fade#employeeLogin
          .modal-dialog
            form(name='employeeLogin').modal-content
              .modal-header.form-header
                button(type='button', data-dismiss='modal').close &times;
              .modal-body.form-body
                .form-group.row
                  label(for='managerUsername').col-sm-3.form-control-label 店主账户
                  input(type='text', name='managerUsername').form-control#emUsername.col-sm-8
                  img
                .form-group.row
                  label(for='username').col-sm-3.form-control-label 用户名
                  input(type='text', name='username').form-control#eUsername.col-sm-8
                  img
                .form-group.row
                  label(for='password').col-sm-3.form-control-label 密码
                  input(type='password', name='password').form-control#ePassword.col-sm-8
                  img
              .modal-footer.form-footer
                .form-group.row.mx-auto
                  //小bug：点击后按钮变大
                  input(type='submit', value='登录', name='employeeLogin').btn.btn-secondary.col-sm-12
                  .form-result
        //注册框
        .modal.fade#regist
          .modal-dialog
            form(name='regist').modal-content
              .modal-header.form-header
                button(type='button', data-dismiss='modal').close &times;
              .modal-body.form-body
                .form-group.row
                  label(for='upUsername').col-sm-3.form-control-label 用户名
                  input(type='text', placeholder='6~18位英文字母、数字或下划线，字母开头', name='username').form-control#upUsername.col-sm-8
                  img
                .form-group.row
                  label(for='upPassword').col-sm-3.form-control-label 密码
                  input(type='password', placeholder='6~12位数字、大小写字母、中划线、下划线', name='password').form-control#upPassword.col-sm-8
                  img
                .form-group.row
                  label(for='repassword').col-sm-3.form-control-label 重复密码
                  input(type='password', placeholder='再次输入密码', name='repassword').form-control#repassword.col-sm-8
                  img
                .form-group.row
                  label(for='phone').col-sm-3.form-control-label 电话
                  input(type='text', placeholder='11位数字，不能以0开头', name='phone').form-control#phone.col-sm-8
                  img
                .form-group.row
                  label(for='email').col-sm-3.form-control-label 邮箱
                  input(type='text', placeholder='example@163.com', name='email').form-control#email.col-sm-8
                  img
                .form-group.row
                  label(for='storeName').col-sm-3.form-control-label 店名
                  input(type='text', placeholder='皮皮餐馆', name='storeName').form-control#storeName.col-sm-8
                  img
                .form-group.row
                  label(for='storeAddress').col-sm-3.form-control-label 店地址
                  input(type='text', placeholder='P城', name='storeAddress').form-control#storeAddress.col-sm-8
                  img
              .modal-footer.form-footer
                .form-group.row.mx-auto
                  //小bug：点击后按钮变大
                  input(type='submit', value='注册', name='regist').btn.btn-secondary.col-sm-12
                  .form-result
