doctype html
html(lang="en")
  head
    title= title
    link(rel='icon', href='/images/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='/javascripts/jquery-3.3.1.min.js')
    script(src='/javascripts/bootstrap.min.js')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    block head-content
  body.container-fluid
    block content
